//Montserrat - Regular - Bold
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
//Merriweather
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
//Display
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display:wght@400;700&display=swap');

// @font-face {
// 	font-family: 'Miller-Display';
// 	src: url('../fonts/Miller-Display.eot');
//     src: url('../fonts/Miller-Display.otf') format("opentype");
// 	src: url('../fonts/Miller-Display.ttf') format('truetype');
// 	}

// @font-face {
// 	font-family: 'Merriweather-Regular';
// 	src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
// 	}

// @font-face {
// 	font-family: 'Montserrat-Bold';
// 	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
// 	}

// @font-face {
// 	font-family: 'Montserrat-Regular';
// 	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
// 	}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    outline: none;
    outline-offset: none;
    overflow-x: hidden;
}

section{
    padding: $spacing * 2;
}

h1,{
    font-family: "Playfair Display", sans-serif;
}
h4{
    font-family: "Montserrat", sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-family: "Playfair Display", sans-serif;
}

p, span{
    font-family: "Merriweather", sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    color: #b0b0b0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.uppercase{
    text-transform: uppercase;
}

.btn{
    background: transparent;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    margin-top: $spacing * 2;

    &:hover{
        background-color: $bgBtn;
        transition: 0.5s linear;
    }
}
