//bg color
$bgLogo: #D0C5B6;
$bgBtn: rgba(208, 197, 182, 0.5);
$bgFooter: #2b2b2b;
$bgFooterBottom: #282626;

//text color
$textWhite: #fff;
$textDark: #282626;
$textFooter: #c1c1c1;
$iconSearch: #414141;

//size
$spacing: 20px;
$fontSize: 20px;
